    <div class="">
        <div class="uk-card uk-card-hover uk-card-default">
            <div class="uk-card-media-top uk-cover-container">
                <img src= {{{ image_upload }}} alt="" uk-cover>
                <canvas width="" height=""></canvas>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{ name }}</h3>
                <p>{{ cuponType }}</p>
                <a class="uk-button uk-button-default uk-button-small" href="/orders/{{{  _id  }}}">view</a>
            </div>
        </div>
    </div>