<!DOCTYPE html>
<html>

<head>
    {{{ headers }}}
</head>

<body>
    {{{ navbar }}}
    <section class="cc_body">
        <div class="uk-grid-small  uk-flex-center uk-text-center" uk-grid>
            <div class="uk-width-expand  ">
                <!-- create a cupon  -->
                <img src="assets/cc/cc_cac_001.jpg" alt="">
                <p class="uk-link-muted">kindly read about <a href="#">cupon types </a>
                    <a href="#">recommendation</a> and
                    <a href="#"> subcription plan</a>
                </p>
                <div class="uk-container">
                    <form class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" name="name" type="text" placeholder="Name of Business">
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" name="bizPhoneNo" type="text" placeholder="phone Number">
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" name="address" type="text" placeholder="Address of Business">
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" name="email" type="text" placeholder="Business Email Address">
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" name="description" type="text" placeholder="Product Description">
                        </div>
                        <div class="uk-width-1-2@s">
                            <textarea class="uk-input" name="info" placeholder="Describe Your Offer" style="height: 170%" rows="" cols=""></textarea>
                        </div>
                        <div class="uk-width-1-2@s">
                            <div class="uk-margin">
                                <select name="cuponType" class="uk-select">
                                    <option>Select Cupon Type</option>
                                    <option>Option 02</option>
                                    <option>Option 02</option>
                                </select>
                            </div>
                        </div>

                        <div style="padding-top: 7%" class="uk-width-1-2@s">
                            <div class="uk-margin uk-grid-small uk-child-width-auto" uk-grid>
                                <label><input class="uk-checkbox" type="checkbox">
                                 i agree to merchants terms of use  and merchant privacy statement </label>
                            </div>
                        </div>
                        <div class="uk-width-1-2@s">
                            <div  class="uk-padding-remove">
                                <div uk-form-custom="target: true">
                                    <input name="upload" type="file">
                                    <input class="uk-input uk-form-width-medium" type="text" placeholder="upload product | service  image" disabled>
                                </div>
                                <button class="uk-button uk-button-default">Submit</button>
                            </div>
                        </div>
                    </form>
                    <div style="padding-top: 5%; padding-bottom: 5%" class="uk-flex uk-flex-center">
                        <button class="uk-box-shadow-small  uk-button  uk-button-large" style="background-color: rgb(0, 167, 89); color: white">Submit Cupon</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>