<!DOCTYPE html>
<html>

<head>
    {{{ headers }}}
</head>

<body>
    {{{ navbar }}}
    <section class="cc_body">
        <div class="uk-grid-small  uk-flex-center uk-text-center" uk-grid>
            <div class="uk-visible@s uk-width-1-4 uk-text-center" style="padding-left: 2%">
                {{{ categ }}}
                <br>
            </div>
            <div class="uk-width-expand  ">
                <!-- create a cupon  -->
                
            </div>
        </div>
    </section>
</body>

</html>